<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyBOT</title>
</head>
<body>
  <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" width="100">
  <p><%=user.username%>#<%=user.discriminator%></p>

  <form method="POST" id="enviar_MSG" action="/send">
    <input type="text" name="msg_send" id="msg_input" required>
    <button type="submit" id="btn_Enviar" onclick="enviar()" name="action">
      Enviar
    </button>
  </form>
  <script src="../js/script.js"></script>
</body>
</html>